*,*::after,*::before{
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
#heading{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    width: 205px;
    height: 2px;
}
#skills{
    background-color: black;
    width: 100%;
    height: auto;
}
h1,h2{
    color: white;
    display: flex;
    justify-content: center;
    font-family: mont;
}
#dsa{
    margin-top: 10px;
}
#dsa,#webd,#graphic{
    width: 100%;
    height: 50vh;
}
.flexboxes{
    height: 44vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.item{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: -1px 3px 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: -1px 3px 10px blue;
}
@media screen and (min-width:320px) and (max-width:992px) {
    .flexboxes{
        flex-direction: column;
        width: 100%;
        height:48vh;
    }
    #dsa{
        height: 50vh;
    }
}